<% layout("layouts/boilerplate") %>
<div class = "row mt-3">
    <div class = "col-6 offset-3">
        <h3>Sign Up on Stay-Easy </h3>
        <form method="POST" action="/auth/signup" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="from-lable">Username</label>
                <input name="username"
                       placeholder="Enter your username"
                       type="text"
                       class="form-control"
                        required/>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="from-lable">Email</label>
                <input name="email"
                       placeholder="Enter your email"
                       type="email"
                       class="form-control"
                       required/>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="from-lable">Password</label>
                <input name="password"
                       placeholder="Enter your password"
                       type="password"
                       class="form-control"
                       required/>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
</div>
    </div>